@CHARSET "utf-8";

body {
	direction: rtl;
}

.navbar-nav {
	float: right;
}

.navbar-header {
	float: right;
}

.navbar-nav>li{
	float: right;
}

th, td {
	text-align: right;
}

blockquote {
	border-left: 0;
	border-right: 5px solid #eee;
}